fastapi
uvicorn
sqlalchemy
python-telegram-bot
google-generativeai
python-multipart
psycopg2-binary
async-lru
huggingface-hub
httpx
pywebpush
Pillow
firebase-functions
firebase-admin
a2wsgi
python-jose[cryptography]
passlib[bcrypt]
