fastapi
uvicorn
sqlalchemy
python-telegram-bot
google-generativeai
python-multipart
psycopg2-binary
huggingface-hub
httpx
pywebpush
Pillow
firebase-functions
firebase-admin
a2wsgi
python-jose[cryptography]
passlib[bcrypt]
async_lru
SpeechRecognition
pydub
googletrans==4.0.2
langdetect
indic-nlp-library
