fastapi
uvicorn
sqlalchemy
python-telegram-bot
google-generativeai
python-multipart
psycopg2-binary
huggingface-hub
httpx<0.28.0
pywebpush
Pillow
firebase-functions
firebase-admin<7.0.0
a2wsgi
python-jose[cryptography]
passlib[bcrypt]
async-lru
SpeechRecognition
googletrans==4.0.0-rc1
langdetect
pydub
